/* Reset Elements */
html, 
body, 
section, 
nav, 
h1, 
p, 
span, 
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* Fonts */
:lang(en) {
  opacity: 0.72;
}
  h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-size: 32px;
  }
  p {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
  }
  a {
    color: inherit;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    opacity: 1.0;
  }

:lang(ja) {
  font-family: "Noto Sans Regular", sans-serif;
}
  ul {
    position: relative;
    top: 50%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    transform: translateY(-50%);
  }
    li {
      display: table;
    }
    li:nth-child(odd) {
      position: absolute;
      top: 0;
    }
    .word {
      font-size: 128px;
      line-height: 1;
    }

/* Layout and Styling */
section {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%; /* fix for overflow with 100vw */
}
  section:nth-child(even) {
    background-color: rgb(199, 0, 37);
    color: #fff;
  }

nav {
  position: absolute;
  top: 16px;
  left: 16px;
  display: block;
  width: calc(100% - 32px);
}

.example {
  position: absolute;
  bottom: 16px;
  left: 16px;
}